<div class="mainContainer">
<div class="container">
    <div class="form">
      <div class="img">
        <img class="logo" src="assets/logo.png" alt="" />
      </div>
      <br /><br /><br />
      <h3>Welcome Back !</h3>
      <h4>Sign In to continue to Xyz</h4>
      <form>
        <label for="">Email</label>
        <div class="input">
          <img src="assets/Vector (1).png" />
          <input class="data" type="email" placeholder="Enter Your Email" />
        </div>
        <label for="">Password</label>
        <div class="Password">
          <input class="data" type="Password" placeholder="Enter Your Passowrd" />
          <img src="assets/Vector (3).png" />
        </div>
        <div class="checkbox">
          <input type="checkbox" id="Remember" />
          <label for="Remember">Remember me</label><br />
        </div>
        <button type="submit">Sign In</button>
        <p class="Wait">Wait, I don't have any account... <a routerLink="/signup">Sign Up</a></p>
        <div class="forgot">
        <a routerLink="/forgot-password">Forgot password</a>
      </div>
      </form>
    </div>
  </div>
</div>