    <div class="mainContainer">
    <div class="container">
  <div class="form">
    <div class="img">
      <img class="logo" src="assets/logo.png" alt="" />
    </div>
    <br /><br /><br />
    <h3>Register Yourself</h3>
    <h4>Sign up to continue to Xyz</h4>
    <form>
      <label for="">Full Name</label>
      <div class="input">
        <img src="assets/Vector.png" />
        <input class="data" type="text" placeholder="Enter Your Name" />
      </div>
      <label for="">Email</label>
      <div class="input">
        <img src="assets/Vector (1).png" />
        <input class="data" type="email" placeholder="Enter Your Email" />
      </div>
      <label for="">Phone</label>
      <div class="input">
        <img src="assets/Vector (2).png" />
        <input class="data" type="text" placeholder="Enter Your Phone" />
      </div>
      <label for="">Password</label>
      <div class="Password">
        <input class="data" type="Password" placeholder="Enter Your Passowrd" />
        <img src="assets/Vector (3).png" />
      </div>
      <div class="checkbox">
        <input type="checkbox" id="Remember" />
        <label for="Remember">Remember me</label><br />
      </div>
      <button type="submit">SignUp</button>
      <p class="Wait">Wait, I have a account... <a routerLink="/">Sign In</a></p>

    </form>
  </div>
</div>
</div>