<div class="mainContainer">
  <div class="container">
    <div class="form">
      <div class="img">
        <img class="logo" src="assets/logo.png" alt="" />
      </div>
      <br /><br /><br />
      <h3>Reset Password?</h3>
      <form>
        <label>New Password</label>
        <div class="input">
          <input class="data" type="text" placeholder="New Password" />
        </div>
        <label>Confirm Password</label>
        <div class="input">
          <input class="data" type="text" placeholder="Confirm Password" />
        </div>
        <div class="instructions">
          <ul>
            <li>8 Characters Long</li>
            <li>One Upper Case</li>
            <li>One lower Case</li>
            <li>One Number</li>
            <li>Password Match</li>
          </ul>
        </div>
        <button type="submit">Update Password</button>
      </form>
    </div>
  </div>
</div>
